.Current-list {
  display: flex;
  flex-direction: column;
}
.Book-list {
  max-width: 900px;
  margin: 50px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
.Book-list-item {
  position: relative;
  margin: 10px;
}
.Book-list-item:hover {
  background-color: #382110;
}
.Book-list-item:hover img {
  opacity: .25;
}
.Book-list-item:hover .Book-details {
  color: #fff;
  display: block;
}
.Book-list-item:hover .Book-remove {
  color: #fff;
  display: block;
}
.image-container {
  height: 300px;
  width: 195px;
  overflow: hidden;
  border-radius: 1%;
  box-shadow: 3px 3px 3px #777;
}
.Book-list-item img {
  height: 100%;
}
.Book-details {
  font-size: 16px;
  display: none;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 200px;
}
.Book-title {
  font-size: 20px;
}

.Book-remove {
  /*padding: 10px;*/
  font-size: 16px;
  display: none;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  padding: 10px;
  right: 0;
}
.fa-check-square, .fa-check-square-o {
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 80%;
  right: 40%;
}
.Book-list-item:hover .fa {
  display: block;
  /*color: #382110;*/
}
