body {
  font-family: Helvetica, sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Nav {
  display: flex;
  justify-content: space-between;
}
.Nav li {
  display: inline;
  list-style-type: none;
}
.col {
  /*background: rgba(0, 255, 255, .1);*/
  border: 1px solid pink;
  flex: 1;
}

@media (max-width: 600px) {
  .App {
    display: block;
  }
}